body {
  background-color: rgb(13, 13, 80);
  color: white;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}
.logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: white;
  margin: 25px;
}
h2 {
  color: black;
}

.scanner-select {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin: 25px;
  flex-wrap: wrap;
}

.cam-selection,
.upload-selection {
  all: unset;
  width: 200px;
  font-size: 16px;
  color: white;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  text-align: center;
}

.cam-selection {
  background-color: rgb(216, 61, 193);
}

.upload-selection {
  background-color: rgb(10, 175, 57);
  margin: 30px;
}

.cam-selection:hover,
.upload-selection:hover {
  transform: translateY(-4px) scale(1.05);
}

.cam-selection:active,
.upload-selection:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.error-msg {
  color: red;
  font-weight: bold;
}

.camera-selection,
.qr-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .scanner-select {
    flex-direction: column;
  }
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.camera-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
}

.stop-selection {
  all: unset;
  background-color: rgb(255, 67, 67);
  padding: 20px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
  transition: transform 0.2s ease;
}

.stop-selection:hover {
  transform: translateY(-4px) scale(1.05);
}
#qr-reader-upd {
  min-height: 50px;
  margin-top: 10px;
}
.logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  cursor: pointer;
}
